<%% form_for @<%= singular_name %><%- if options[:jquery] -%>, :html => { :'data-remote' => true, :'data-method' => data_method ||= '' } <%- end -%>do |f| %>
  <%%= f.error_messages %>
<%- for attribute in attributes -%>
  <p>
    <%%= f.label :<%= attribute.name %> %><br />
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  </p>
<%- end -%>
  <p><%%= f.submit t('formtastic.submit', :default => 'Submit')<%- if options[:jquery_ui] -%>, :'data-ui' => 'button'<%- end -%>%></p>
<%% end %>
