<%% title t('common.actions.register', :default => 'Sign up').capitalize %>

<p>Already have an <%%= t('common.actions.account', :default => 'account') %>? <%%= link_to t('common.actions.login', :default => 'Log in').capitalize, login_path %>.</p>

<%%= render 'form' %>